dataset/
command.md
keep/
final/
ch_02_01_gravity/
ch_02_02_gravity_matrix/
ch_02_03_gravity_salt/
ch_03_01_resistivity/
ch_04_01_acoustic_wave/
ch_04_02_two_layer/
ch_04_03_multiple/
ch_04_04_box/
ch_04_05_receiver/
ch_04_06_salt/
ch_04_07_loop_shot/
ch_04_08_migration/
ch_01_gradient/
npy_folder/
image_out/
figure_out/
